* {
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	max-width: 760px;
	margin: 25px auto;
	padding: 25px;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	background-color: rgb(0, 150, 0, 0.25);
	overflow: hidden;
}

h1,
h2 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	padding: 0 0 10px;
	border-bottom: 2px solid black;
	font-size: 20px;
	text-align: center;
	color: black;
}

.new-task-container {
	text-align: center;
}

.box {
	margin: 15px 0;
	padding: 10px 15px;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: #f0f0f0;
}

.todo-list {
	width: 46%;
	float: left;
}

.complete-list {
	width: 46%;
	float: right;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	padding: 10px;
	border-bottom: 1px solid gray;
}

.edit {
	padding: 3px 5px;
	border: 0;
	color: #f0f0f0;
	background-color: rgb(0, 0, 255, 0.75);
	float: right;
}

.delete {
	padding: 3px 5px;
	border: 0;
	color: #f0f0f0;
	background-color: rgb(255, 0, 0, 0.75);
	float: right;
}
