.card {
	border: 1px solid #ccc;
	padding: $padding;
	margin-bottom: $margin;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	&__title {
		font-size: 20px;
		margin-bottom: $margin;
	}

	&__content {
		font-size: 16px;
	}
}
