.navbar {
	background-color: $primary-color;
	color: white;
	padding: $padding;

	ul {
		list-style: none;
		display: flex;

		li {
			margin-right: $margin;

			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}
