python -m pip install -U pip
pip install -U albumentations[imgaug]
pip install -U pip setuptools wheel
pip install -U spacy[cuda111,transformers,lookups]
pip install Cython
pip install Django
pip install Faker
pip install Flask
pip install Flask-Cors
pip install Flask-PyMongo
pip install Ipy
pip install PyPDF2
pip install PyQt5
pip install SQLAlchemy
pip install Scrapy
pip install SpeechRecognition
pip install Unidecode
pip install aiofiles
pip install albumentations
pip install arcade
pip install asgiref
pip install auto-py-to-exe
pip install bazel
pip install bootstrap4
pip install bs4
pip install bson
pip install bunch
pip install chalice
pip install codetiming
pip install colorama
pip install commentjson
pip install cvxopt
pip install dash
pip install decorator
pip install dgl
pip install dj-database-url
pip install dj-static
pip install django
pip install django-bootstrap4
pip install django-ckeditor
pip install django-crispy-forms
pip install django-debug-toolbar
pip install django-environ
pip install django-filter
pip install django-froala-editor
pip install django-taggit
pip install django_heroku
pip install djangorestframework
pip install efficientnet-pytorch
pip install emoji
pip install eyed3
pip install face-alignment
pip install face_recognition_models
pip install flask_socketio
pip install fuzzingbook
pip install gdown
pip install gensim
pip install gin-config
pip install glove-python-binary
pip install graphviz
pip install gunicorn
pip install gym
pip install imdbpy
pip install imutils
pip install intel-openmp
pip install ipdb
pip install ipykernel
pip install ipython
pip install jax
pip install jupyter notebook
pip install keras
pip install labelme
pip install langdetect
pip install lmdb
pip install mahotas
pip install matplotlib
pip install mlxtend
pip install moviepy
pip install mpld3
pip install music21
pip install mysqlclient
pip install mysql-connector-python-rf
pip install nltk
pip install num2words
pip install open3d
pip install opencv-contrib-python
pip install opencv-python
pip install pdf2image
pip install pip-tools
pip install pipe
pip install pipreqs
pip install polyglot
pip install pretrainedmodels
pip install progressbar
pip install psycopg2
pip install pyDes
pip install pyPiper
pip install pycocotools-windows
pip install pycorenlp
pip install pycryptodome
pip install pydot
pip install pydub
pip install pygame
pip install pygcn
pip install pyinstaller
pip install pymongo
pip install pymysql
pip install pyspark
pip install python-barcode
pip install python-dotenv
pip install python-resize-image
pip install pytorch-ignite
pip install pytz
pip install pyzbar
pip install qrcode
pip install reportlab
pip install sacrebleu
pip install scikit-image
pip install scikit-learn
pip install seaborn
pip install segmentation-models
pip install sentencepiece
pip install setuptools
pip install simpy
pip install six
pip install slim
pip install social-auth-app-django
pip install sqlparse
pip install t5
pip install tensorflow
pip install tensorflow-addons
pip install tensorflow-datasets
pip install tensorflow-hub
pip install tensorflow-text
pip install terminaltables
pip install textblob
pip install tf_slim
pip install tflearn
pip install timm
pip install torch==1.9.0+cu111 torchvision==0.10.0+cu111 torchaudio===0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
pip install torchtext
pip install tqdm
pip install trax
pip install twilio
pip install typeguard
pip install validators
pip install visdom
pip install waitress
pip install wand
pip install whitenoise
pip install wxPython
pip install xlrd==1.2.0
pip install xlsxwriter
pip install yacs
pip install youtube-dl
pip install zed
pip install https://github.com/JonathanRaiman/glove/archive/master.zip
pip install https://pypi.python.org/packages/da/06/bd3e241c4eb0a662914b3b4875fc52dd176a9db0d4a2c915ac2ad8800e9e/dlib-19.7.0-cp36-cp36m-win_amd64.whl#md5=b7330a5b2d46420343fbed5df69e6a3f